<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.leeframe.dao.DeparturetimeMapper" >
  <resultMap id="BaseResultMap" type="org.leeframe.model.Departuretime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="RouteName" property="routename" jdbcType="CHAR" />
    <result column="FirstDepartureTime" property="firstdeparturetime" jdbcType="TIME" />
    <result column="LastDepartureTime" property="lastdeparturetime" jdbcType="TIME" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, RouteName, FirstDepartureTime, LastDepartureTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from departuretime
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from departuretime
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.leeframe.model.Departuretime" >
    insert into departuretime (id, RouteName, FirstDepartureTime, 
      LastDepartureTime)
    values (#{id,jdbcType=INTEGER}, #{routename,jdbcType=CHAR}, #{firstdeparturetime,jdbcType=TIME}, 
      #{lastdeparturetime,jdbcType=TIME})
  </insert>
  <insert id="insertSelective" parameterType="org.leeframe.model.Departuretime" >
    insert into departuretime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="routename != null" >
        RouteName,
      </if>
      <if test="firstdeparturetime != null" >
        FirstDepartureTime,
      </if>
      <if test="lastdeparturetime != null" >
        LastDepartureTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="routename != null" >
        #{routename,jdbcType=CHAR},
      </if>
      <if test="firstdeparturetime != null" >
        #{firstdeparturetime,jdbcType=TIME},
      </if>
      <if test="lastdeparturetime != null" >
        #{lastdeparturetime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.leeframe.model.Departuretime" >
    update departuretime
    <set >
      <if test="routename != null" >
        RouteName = #{routename,jdbcType=CHAR},
      </if>
      <if test="firstdeparturetime != null" >
        FirstDepartureTime = #{firstdeparturetime,jdbcType=TIME},
      </if>
      <if test="lastdeparturetime != null" >
        LastDepartureTime = #{lastdeparturetime,jdbcType=TIME},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.leeframe.model.Departuretime" >
    update departuretime
    set RouteName = #{routename,jdbcType=CHAR},
      FirstDepartureTime = #{firstdeparturetime,jdbcType=TIME},
      LastDepartureTime = #{lastdeparturetime,jdbcType=TIME}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>